@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #1C1C1C;
    --cor-secundaria: #F4EDE2;
    --cor-terciaria: #556B2F;
    --cor-hover: #0F0F0F;
    
    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body { 
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    text-indent: 10px;
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: black;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 40%;
    border-radius: 8px;
}

.rodape {
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    padding: 38px;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media  (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: 100%; 
    }
}

@media (max-width: 768px) {
    
    .apresentacao__conteudo {
        font-size: 1rem;
    }
    .apresentacao__conteudo__titulo {  
        font-size: 1.5rem;
    }
    .apresentacao__links__subtitulo{
        font-size: 1.3rem;
    }
    .apresentacao__imagem {
        width: 100%;     
    }
}